.footer-row {
  background: linear-gradient(to top, #9f30ff 0%, #7a19e0 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.hidden-footer {
  display: none;
}

@media (max-width: 400px) {
  .flex-column-pe-5 {
    flex-direction: column !important;
    padding-right: 6rem !important;
    padding-left: 2rem !important;
    gap: 0.3rem !important;
  }
}
